/* Reseteamos css */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Didact Gothic', sans-serif;
}
a {
    text-decoration: none;

}
a:hover{
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #E7F3E9;
}

.nav-langosta {
    background-color: #0B1D2B;
}

.nav-langosta a {
    color: #ffffff;
}

.nav-langosta a:hover {
    color: #4F9885;
}

.dropdown-menu {
    background-color: #0B1D2B;
}

h1 {
    color: #4F9885;
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}


.footer-langosta {
    background-color: #4F9885;
    color: #ffffff;
}

/* Admin*/

.grid-card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.menu-admin-opt {
    background-color: #4F9885;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: 10px;
}

.menu-admin-opt:hover {
    background-color: #20DF7F;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


/* tablas */

.table {
    border-color:transparent;
}

tbody {
    background-color: #ffffff;
    color: #0B1D2B;
    font-size: 1.1rem;
}

th {    
    background-color: #4F9885 !important;
    border: none !important;
    color: #ffffff;
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    
}

td {    
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

#tabla {
    box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem !important;
    border-radius:10px !important;
}

.icono {
    color: #4F9885;
    font-size: 1.3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin: 5px;
}

.icono:hover {
    color: #20DF7F;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    cursor: pointer;
}


.form-control {
    border: none; 
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    

}

.boton-sesion {
    background-color:#4F9885;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem;
    font-weight: bold;
}

::placeholder {
    font-weight: bold;
}

.link-sesion {
    color:#4F9885;
    font-weight: bold;

}

.link-sesion:hover{
    color: #0B1D2B;
}

.select-sesion {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #6c757d;
}

.nuevo-registro{
    background-color:#4F9885;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nuevo-registro:hover {
    background-color: #20DF7F;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

label {
    color: #4F9885;
    font-weight: bold;
    text-align: left;
}

.form-horizontal .control-label{
    text-align: left;
}